/* src/main.css */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f7fff7;
} 

h1, h2, a {
    color: #2f3061;
    text-decoration: none;
}

h4 {
    color: #2f3061;
}

a:hover {
    color: #6ca6c1;
}

p {
    color: #343434;
}

h3 {
    color: #2f3061;
}



